// colors
$bg-color: #EEEEEE;
$nav-bg: #0092CA;
$nav-links: #393E46;
$nav-links-hover: #222831;
$vue: #42b983;
$sidebar-header: #007AE0;
$white: #fff;
$black: #000;
$topbar-header: #F3F3F3;
$grey-font: #7B7B7B;
$line: #ECECEC;
$sidebar-bg: #414245;
$item-author: #9B9B9B;
$items-header: #999999;
$bootstrap-blue: #007bff;

$active: #1b926c;
$active-alt: #28a745;
$inactive: #eee;

// trn
$trn-color: #5E60F4;
$inactive: #dc3545;
// $trn-color-alt: #6C3FFB;
$trn-color-alt: #6C55FB;

$trn-red: #ff7675;

// fonts
$raleway: 'Raleway', sans-serif;
$ptsans: 'PT Sans', sans-serif;
$mina: 'Mina', sans-serif;


@import url('https://fonts.googleapis.com/css?family=Cairo:400,700,900');